.cardboard {
	list-style: none;
	padding-inline: 0;
	display: grid;
	gap: 32px;
	@media only screen and (min-width: 375px) {
		grid-template-columns: repeat(1,1fr);
		margin: 20px;
	}
	@media only screen and (min-width: 540px) {
		grid-template-columns: repeat(2,1fr);
		margin: 30px;
	}
	@media only screen and (min-width:800px) {
		grid-template-columns: repeat(3,1fr);
		margin: 50px;
	}
}
.card {
	font-size: .9em;
	background: white;
	padding: 12px;
	@media only screen and (min-width:540px) {
		max-width: 270px;
	}
	.heading {
		margin: 0 0 4px;
		font-size: 1.3em;
		line-height: 1.1;
		font-weight: bold;
		a {
			font-weight: 600;
			text-decoration-line: none;
		}
	}
	p {
		margin-block: 0 .2em;
	}
}
.profile {
	grid-row: 1 / span 2;
	display: flex;
	flex-direction: column;
	.contacts {
		list-style: none;
		padding-inline: 0;
	}
	.contact {
		display:inline;
		margin-right: 4px;
	}
	.inbox {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: end;
	}
	#mailbox {
		height: 60px;
		&:hover{ 
			cursor: pointer;
		}
	}
}
.carddesc {
	color: var(--pen-grey);
}
