.article {
	margin-block: 50px;
	margin-inline: 20px;
}
.articleheading>.heading {
	font-weight: bold;
	font-size: 4rem;
	letter-spacing: -.04em;
	word-spacing: 2px;
	line-height: 1.1;
	margin-block: 0 .67em;
}
.content {
	line-height: 1.6;
	background: white;
	max-width: 600px;
}
@media only screen and (min-width: 960px) {
	.article {
		margin-block: 100px;
		max-width: 960px;
		display: grid;
		column-gap: 40px;
		grid-template-areas: ". h h" ". c s" ". pn .";
		grid-template-columns: 100px 600px 200px;
	}
	.articleheading {
		grid-area: h;
	}
	.content {
		grid-area: c;
	}
	.articleside {
		display: block;
		grid-area: s;
	}
	.prevnext {
		grid-area: pn;
	}
	.sticky {
		position: sticky;
		top: 20px;
	}
}
.toc {
	color: #6a6a6a;
	font-size: .9em;
}
.toc .heading{
	font-size: unset;
	margin-block: .67em;
	border-bottom: 1px solid #eee;
	font-weight: 600;
}
.toc ul {
	list-style: none;
	padding-inline: 20px;
	margin-block: 4px;
	font-size: .9em;
}
.toc ul li {
	margin-block: 4px;
}
.toc nav>ul {
	padding-inline: 0;
}

/* ------------------------------------
* article prev/next
* ---------------------------------- */
.prevnext {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 80px 0 0 0;
	font-size: .9em;
	gap: 1em;
}
.prevnextlabel {
	margin-block: 0;
	color: #767676;
}
.prevnext a {
	color: inherit;
	text-decoration: none;
}
.prev {
	text-align: left;
}
.next {
	text-align: right;
}
a[href*='//']::after {
  content: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2212%22%20%20height=%2212%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22rgb(32, 103, 155)%22%20%20stroke-width=%221.25%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-external-link%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%206h-6a2%202%200%200%200%20-2%202v10a2%202%200%200%200%202%202h10a2%202%200%200%200%202%20-2v-6%22%20/%3E%3Cpath%20d=%22M11%2013l9%20-9%22%20/%3E%3Cpath%20d=%22M15%204h5v5%22%20/%3E%3C/svg%3E");
  margin-left: 1px;
}
