/* ----------------------------------------------------------
 * @property at-rule
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@property
 * ------------------------------------------------------- */

@property --pen-regular {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}
@property --pen-href {
  syntax: "<color>";
  inherits: true;
  initial-value: #009d00;
}

/* ------------------------------------
* Page-wise
* ---------------------------------- */

body {
	color: var(--pen-regular);
}

header {
	border-bottom: 1px solid #eee;
}

main {
	margin: auto;
	margin-block: 40px;
}

footer {
	border-top: 2px dotted #b4b4b4;
	margin: auto;
}
@media only screen and (min-width: 840px) {
	main,footer,.inheader {
		max-width: 840px;
	}
}

/* ------------------------------------
* Within header
* ---------------------------------- */

.inheader {
	min-height: 70px;
	max-width: 840px;
	display: flex;
	column-gap: 1em;
	align-items: center;
	margin: auto;
	flex-wrap: wrap;
}
.sitetitle {
	font-size: 1.5em;
	text-wrap: nowrap;
	height: fit-content;
}
.menu {
	display: inline-flex;
	list-style: none;
	padding-inline-start: 0;
	gap: 1em;
	flex-wrap: wrap;
	margin-block: 0;
}

/* ------------------------------------
* Within footer
* ---------------------------------- */

footer {
	font-size: .9em;
}
footer .contact {
	list-style: none;
	padding: 0;
	gap: 8px;
	display: inline-flex;
	margin-block: .1em;
}

/* ------------------------------------
* Within main
* ---------------------------------- */

.heading {
	font-weight: bold;
	font-size: 3em;
	margin-block: 0 .67em;
}
.content {
	line-height: 1.6;
}
@media only screen and (min-width: 840px) {
	.article {
		display: grid;
		grid-template-areas: "h h" "c s";
		grid-template-columns: 600px 240px;
		column-gap: 40px;
	}
	.heading {
		grid-area: h;
	}
	.content {
		grid-area: c;
	}
	aside {
		grid-area: s;
	}
}
.toclabel{
	font-size: unset;
	margin-block: .67em;
	border-bottom: 1px solid #eee;
}
.toc ul {
	list-style: none;
	padding-inline: 20px;
	margin-block: 4px;
	font-size: .9em;
}
.toc nav>ul {
	padding-inline: 0;
}

/* Section navigation */
.pagenav {
	list-style: none;
	padding-inline: 0;
}
.pagenavitem {
	margin: .67em 0;
}
.pagenavtitle {
	font-size: 1.3em;
}

/* ------------------------------------
* General elements
* ---------------------------------- */

hr {
	background:#eee;
	margin-block: 2rem;
	height:1px;
	border: none;
}
img {
	max-width: 100%;
}
/* Hyperlink */
a {
	text-underline-offset: 2px;
}
a:hover {
	color: var(--pen-href);
}
a:focus {
	text-decoration: none;
}
.content a {
	font-weight: 600;
	color: var(--pen-href);
}
.toc a{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: var(--pen-href);
	}
}
header a,footer a{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration-line: underline;
	}
}
.sitetitle {
	color: var(--pen-href);
	&:hover {
		text-decoration: none;
	}
}
/* Codeblock */
pre {
	padding: .5em;
	overflow: scroll;
	background: #eee;
	border: 4px solid #e3e3e3;
	border-radius: 4px;
}
pre code {
	font-weight: bold;
	font-size: .8em;
}
