/* ----------------------------------------------------------
 * @property at-rule
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@property
 * ------------------------------------------------------- */

@property --pen-regular {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(42, 42, 42);
}
@property --marker-green {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(202, 246, 125);
}
@property --marker-pink {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 190, 230);
}
@property --marker-orange {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 185, 163);
}

/* ------------------------------------
* Page-wise
* ---------------------------------- */

body {
	color: var(--pen-regular);
}

header {
	border-bottom: 1px solid #eee;
}

main {
	margin: auto;
	margin-block: 100px 20px;
}

footer {
	border-top: 2px dotted #b4b4b4;
	margin: auto;
}
@media only screen and (min-width: 840px) {
	main,footer,.inheader {
		max-width: 840px;
	}
}

/* ------------------------------------
* Within header
* ---------------------------------- */

.inheader {
	min-height: 70px;
	display: flex;
	column-gap: 1em;
	align-items: center;
	margin: auto;
	flex-wrap: wrap;
}
.menu {
	display: inline-flex;
	list-style: none;
	padding-inline-start: 0;
	gap: 1em;
	flex-wrap: wrap;
	margin-block: 0;
}

/* ------------------------------------
* Within footer
* ---------------------------------- */

footer {
	font-size: .9em;
}
footer .contact {
	padding-inline: 0;
	margin-block: 20px 4px;
}
footer .contact li {
	display: inline;
	margin: 0 5px 0 0;
}

/* ------------------------------------
* Within main
* ---------------------------------- */

.heading {
	font-weight: bold;
	font-size: 3em;
	margin-block: 0 .67em;
}
.content {
	line-height: 1.7;
}
@media only screen and (min-width: 840px) {
	.article {
		display: grid;
		grid-template-areas: "h h" "c s";
		grid-template-columns: 600px 1fr;
		column-gap: 40px;
	}
	.heading {
		grid-area: h;
	}
	.content {
		grid-area: c;
	}
	.articleside {
		display: block;
		grid-area: s;
	}
	.toc {
		position: sticky;
		top: 50px;
	}
}

.toclabel{
	font-size: unset;
	margin-block: .67em;
	border-bottom: 1px solid #eee;
}
.toc ul {
	list-style: none;
	padding-inline: 20px;
	margin-block: 4px;
	font-size: .9em;
}
.toc ul li {
	margin-block: 4px;
}
.toc nav>ul {
	padding-inline: 0;
}

/* Section navigation */
.pagenav {
	list-style: none;
	padding-inline: 0;
}
.pagenavitem {
	margin: .67em 0;
}
.pagenavtitle {
	font-size: 1.3em;
}

/* ------------------------------------
* General elements
* ---------------------------------- */
em {
	background-color: var(--marker-orange);
	color: black;
}
hr {
	background:#eee;
	margin-block: 2rem;
	height:1px;
	border: none;
}
img {
	max-width: 100%;
}
h2 {
	margin-block: 2em .67em;
}
p {
	margin-bottom: 1.7em;
}
/* Hyperlink */
a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-thickness: 4px;
	text-decoration-color: var(--marker-green);
	text-decoration-skip-ink: none;
}
a:focus,a:hover,a:active {
	color: black;
	text-decoration: none;
	background: var(--marker-green);
}
.content a {
	font-weight: 600;
}
header a,footer a,.toc a{
	color: inherit;
	text-decoration: none;
}

/* Codeblock */
pre {
	padding: 24px;
	overflow: scroll;
	background: #f7f7f7;
	border: 2px solid #e3e3e3;
}
code {
	font-size: 13px;
	color: black;
}
p>code {
	background-color: var(--marker-pink);
}
/* ------------------------------------
* callouts
* ---------------------------------- */

.callout {
	padding: 32px;
	background: rgb(245, 255, 241);
	border: 2px solid #8cce5f;
}
.callout>ul{
	padding-inline: 20px;
}
.callout-heading {
	margin-block: 0;
	font-size: 1.2em;
	font-weight: bold;
}

/* ------------------------------------
* article prev/next
* ---------------------------------- */

.prevnext {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 100px 0 0 0;
	font-size: .9em;
	gap: 1em;
}
.prevnextlabel {
	margin-block: 0;
	color: #767676;
}
.prevnext a {
	color: inherit;
	text-decoration: none;
}
.prev {
	text-align: left;
}
.next {
	text-align: right;
}
