<style>
	/*historic build of Spectral that uses curly quotes
	github.com/productiontype/Spectral.git @ 68414e1f*/
	@font-face {
		font-family: 'Spectral';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/spectral-regular.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Spectral';
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/spectral-italic.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Spectral';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/spectral-semibold.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Spectral';
		font-style: italic;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/spectral-semibolditalic.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Spectral';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/spectral-bold.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Spectral';
		font-style: italic;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/spectral-bolditalic.woff2) format('woff2');
	}
	body {
		font-family: 'Spectral','Palatino','Palatino Linotype','URW Palladio L','P052', serif;
		font-size: 18px;
		word-spacing: 1.3px;
		letter-spacing: -.2px;
	}
	code {
		font-family: 'Adwaita Mono', monospace;
		font-size: 13px;
		word-spacing: normal;
		letter-spacing: normal;
	}
</style>
