<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ block "meta" . }} {{ end }}
	<link rel="icon" type="image/svg" href="/favicon.svg">
	<link rel="apple-touch-icon" sizes="256x256"  href="/apple-touch-icon_256x256.png">
	<title>{{ .Site.Title }}</title>
	{{ block "style" . }} {{ end }}
	{{- with .Description -}}
	<meta name="description" content="{{- . -}}">
	{{- end -}}
</head>
<body>
	<header>{{ block "header" . }} {{ end }}</header>
	<main>  {{ block "main"   . }} {{ end }}</main>
	<footer>{{ block "footer" . }} {{ end }}</footer>
</body>
</html>

{{ define "header" }}
{{ end }}

{{ define "footer" }}
<ul>
	<li>{{- .Site.Copyright -}}</li>{{- /**/ -}}
	<li><a class=homeref href="/">{{- site.Params.home -}}</a></li>
	{{- range site.Params.footerLinks -}}
	<li><a href="{{ .url }}">
		{{- .label -}}
		<div style='display: inline;margin-left:4px'>{{- with .icon -}} {{- . | safeHTML -}} {{- end }}</div>
	</a></li>
	{{- end -}}
	</li>
</ul>
{{ end }}

{{ define "style" }}
{{ partialCached "fonts.html" . }}
{{ partialCached "css.html" "css/style.css" "style" }}
{{ partialCached "css.html" ( printf "css/%s.css" .Kind ) .Kind }}
{{ end }}
