<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Site.Title }}</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>{{ block "header" . }} {{ end }}</header>
	<hr>
	<main>  {{ block "main"   . }} {{ end }}</main>
	<hr>
	<footer>{{ block "footer" . }} {{ end }}</footer>
</body>
</html>

{{ define "header" }}
<a class="title" href="/">{{ .Site.Title }}</a>
<nav>{{ block "menu" site.Menus.main }} {{ end }}</nav>
{{ end }}

{{ define "footer" }}
<div>
{{ block "socials" site.Params.socials }} {{ end }}
{{ .Site.Copyright }}
</div>
<div>
{{ block "links" site.Params.links }} {{ end }}
</div>
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ block "pagenav" . }} {{ end }}
{{ end }}

{{ define "menu" }}
<ul class="nav">
	{{ range . }}
	<li><a href="{{ .URL }}">{{ .Name }}</a></li>
	{{ end }}
</ul>
{{ end }}

{{ define "socials" }}
<ul class="nav">
	{{ range . }}
	<li><a href="https://{{ .url }}" rel="me">{{ .label }}</a></li>
	{{ end }}
</ul>
{{ end }}

{{ define "links" }}
{{ with . }}
<ul class=nav>
	{{ range . }}
	<li><a href="{{ .url }}">{{ .label }}</a></li>
	{{ end }}
</ul>
{{ end }}
{{ end }}
