{{ define "main" }}
<ul class="cardboard">
	{{ with site.Params.profile }}
	<li class="card profile">
		{{ block "profile" . }} {{ end }}
	</li>
	{{ end }}

	{{ range .RegularPagesRecursive }}
	<li class=card>
		<div>
			<a class="cardtitle" href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ if (lt .WordCount 50)}}
			<div class="carddesc">{{ .Content }}</div>
			{{ else }}
			<div class="carddesc">{{ .Description }}</div>
			{{ end }}
		</div>
	</li>
	{{ end }}
</ul>
{{ end }}

{{ define "profile" }}
<div class="carddesc">
	<img src="{{- .Picture -}}" width="80px">
	<p>{{- .Intro | markdownify -}}</p>
</div>
<div class="carddesc">
	<ul class="contacts">
		{{- range .inbox -}}
		<li class="contact"><a href="{{- .url -}}">{{- .label -}}</a></li>
		{{- end -}}
	</ul>
	<ul class="contacts">
		{{- range .socials -}}
		<li class="contact"><a href="https://{{- .url -}}" rel="me">{{- .label -}}</a></li>
		{{- end -}}
	</ul>
</div>
{{ end }}
