{{ define "main" }}
<ul class="cardboard">
	{{ with site.Params.profile }}
	<li class="card profile">
		{{ block "profile" . }} {{ end }}
	</li>
	{{ end }}
	{{ $footerUrls := slice }}
	{{ range site.Params.footerLinks }}
	{{ $footerUrls = $footerUrls | append  .url }}
	{{ end }}
	{{ range ( where .RegularPagesRecursive "RelPermalink" "not in" $footerUrls ) }}
	<li class=card>
		<div class="carddesc">
			<date>{{ .Date | time.Format "Jan 2006" }}</date>
		</div>
		<div class="heading">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		</div>
		<div class="carddesc" style='font-style:italic;'>
			{{ with .Description }}{{ . }}{{ end }}
		</div>
	</li>
	{{ end }}
</ul>
{{ end }}

{{ define "profile" }}
<div class="carddesc">
	<div style="float:right;max-width:200px;text-align: right;margin:0 20px 0 0">
		<h1 class="heading">{{ .Title }}</h1>
		<div>{{ .Description | markdownify }}</div>
	</div>
	<div class="inbox" style="float:left">
	<a class="icon" aria-label="mailbox" href="{{ .InboxURL }}">
		{{- with resources.Get "svg/mailbox.svg" -}}
		{{ .Content | safeHTML }}
		{{ end }}
		{{- with resources.Get "svg/inbox-balloon.svg" -}}
		{{ .Content | safeHTML }}
		{{ end }}
</a>
	</div>
</div>
<div class="carddesc">
	<p><em>{{ i18n "socials" }}</em></p>
	<ul class="contacts" style='display:inline'>
		{{- range .socials -}}
		<li class="contact">
			<a class="icon" aria-label="{{ .label }}" href="https://{{- .url -}}" rel="me">
				{{ $icon := ( printf "svg/%s.svg" ( .label | lower ) ) }}
				{{- with resources.Get $icon -}}
				{{ .Content | safeHTML }}
				{{ else }}
				{{- .label -}}
				{{ end }}</a>
		</li>
		{{- end -}}
	</ul>
</div>
{{ end }}
