{{ define "pagenav" }}
<aside class="prevnext">
	<div class=prev>
		{{ with .PrevInSection }}
		<p class=prevnextlabel>Previous</p>
		<a href="{{.RelPermalink}}">{{.Title}}</a>
		{{ end }}
	</div>
	<div class=next>
		{{ with .NextInSection }}
		<p class=prevnextlabel>Next</p>
		<a href="{{.RelPermalink}}">{{.Title}}</a>
		{{ end }}
	</div>
</aside>
{{ end }}

{{ define "toc" }}
{{/* Renders the table of contents if it is not empty */}}
{{ $noToc := "<nav id=\"TableOfContents\"></nav>" }}
{{ with .TableOfContents }}
{{ if ne . $noToc }}
<div class="toc">
	<h2 class="heading">Table of Contents</h2>
	{{ . }}
</div>
{{ end }}
{{ end }}
{{ end }}

{{ define "meta" }}
{{ partial "meta/fediverse.html" . }}
{{ end }}

{{ define "main" }}
<article class="article">
	<div class="articleheading">
		<h1 class="heading">{{ .Title }}</h1>
	</div>
	<aside class="articleside">
		<div class="sticky">
			{{ block "toc" . }} {{ end }}
		</div>
	</aside>
	<div class="content">
		{{ .Content }}
	</div>
	{{ block "pagenav" . }} {{ end }}
</article>
{{ end }}
