{{ with .Page.Resources.GetMatch .Destination }}
{{ $image := .Process "webp" }}
<figure>
    <img src="{{ $image.RelPermalink | safeURL }}" 
    {{ with $.Text }} alt="{{ . }}" {{ end }}
    />
    {{ with $.Title}}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>
{{ else }}
{{/*Remote image*/}}
<figure>
    <img src="{{ .Destination | safeURL }}" 
    {{ with $.Text }} alt="{{ . }}" {{ end }}
    />
    {{ with $.Title}}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>
{{ end }}
